*{
    margin: 0;
    padding: 0;
    font-family: 'Averia Sans Libre', cursive;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20 px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22 px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* -------Style charts----------- */
.sub-header{
    height: 35vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1446076/pexels-photo-1446076.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 30px;
}

/* -------Style charts and maps----------- */

body {
    padding: 0;
    margin: 0;
  }
  
#map,
body,
html {
height: 100%;
}

.info.legend {
    padding-top: 5px; /* Add 10px of padding to the top */
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.legend i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.info.legend i {
    padding: 2px;
}

#year-selector {
    position: relative;
    z-index: 10000; /* Make sure the dropdown appears above the map */
}