<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="static\css\style_bg.css">
   
    <title>Background setting</title>


</head>

<body>


  <img class="bg-img" src="https://images.pexels.com/photos/4870641/pexels-photo-4870641.jpeg" alt="Bg image">

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/maps">Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/charts">Charts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Creating home page title and image -->
<div class="container-fluid">
  <section class="row">
    <div class="col-md-12">
      <article class="description-content">
        <div class="text-center">
         <p>
         <h1 class="description-header">TORNADOES</h1>
         <hr class="description-hr"/>
         <img class="img-fluid rounded mx-auto d-block" alt="..." src="https://www.usnews.com/object/image/00000163-023f-d4c1-a777-ea3fad3d0000/180426-tornado-editorial.jpg?update-time=1524751227337"  id="description-image"/>
         </p>
         <p class="fst-italic">Tornado in the US (Source: U.S. News & World Report)</p> 
        </div>
         
         <h4 class="description-header">About Tornadoes</h4>
        <p>Tornadoes are deadly natural disasters with extreme winds that can exceed 200 miles per hour. Every year, more than 1,200 tornadoes touch down in the United States alone. Tornadoes develop rapidly, giving little to no warning of when or where they will strike, and that's why we've developed these visualizations. Use the maps and charts on this website to see when and where tornadoes have wreaked havic historically. </p>
        <p>

        </p>
        <h4 class="description-header">Tornado Classifications</h4>
        <div class="col-auto"> 
          </div>
          <div class="text-center">
                    
          <table class="table table-bordered">
              <!-- <thead class="thead-light"> -->
            <tr>
              <th scope="col" style="width:5%">Classification</th>
              <th scope="col" style="width:6%">Category/EF Number</th>
              <th scope="col" style="width:3%">Wind speed (3 Second Gust - mph)</th>
            </tr>
          </thead>
            <tr>
              <td rowspan="2">Weak</td>
              <td>0</td>
              <td>65 to 85</td>
            </tr>
            <tr>  
              <td>1</td>
              <td>86 to 110</td>
            </tr>
            <tr>
              <td rowspan="2">Strong</td>
              <td>2</td>
              <td>111 to 135</td>
            </tr>
            <tr>
              <td>3</td>
              <td>136 to 165</td>
            </tr>
            <tr>
              <td rowspan="2">Violent</td>
              <td>4</td>
              <td>166 to 200</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Over 200</td>
            </tr>
          </div>
          </table>
      </div>
      </div>
  <hr>    
        </p>
        <h4 class="description-header">Tornado Data source</h4>
        <p>
          <a target="_blank" href="https://www.weather.gov/mkx/taw-tornado_classification_safety">Click here for the data used in our visualizations.</a>
        </p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
  <hr>
  <!-- iframe element -->
  <!-- <iframe width="640" height="390" src="https://www.youtube.com/watch?v=lxdFh8nYMgM"></iframe> -->
    <h4 class="description-header">Tornado in action</h4>  
    <iframe width="640" height="390" src="https://www.youtube.com/embed/lxdFh8nYMgM" frameborder="0" allowfullscreen></iframe>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  


</body>

</html>