<!DOCTYPE html>
<html lang="en-us">


<head>
    <meta charset="UTF-8">
    <title>Project 3 - Group 4: Storm Chasers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Storm Chasers Inc.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    </nav>

    <div class="row">
        <div class="col">
          <!-- <h1 class="text-center">TORNADOES</h1> -->
          <header class="header">
            <h1>TORNADOES</h1>
          </header>
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="/pb">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">Maps</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="charts.html">Charts</a>
            </ul>
          </div>
      </div>
</head>
<body>

    <h2>Find out the statistics about these deadly twisters.</h2>

  <!-- <img src="https://www.usnews.com/object/image/00000163-023f-d4c1-a777-ea3fad3d0000/180426-tornado-editorial.jpg?update-time=1524751227337&size=responsive300" alt="Tornado"> -->
  <img src="https://www.usnews.com/object/image/00000163-023f-d4c1-a777-ea3fad3d0000/180426-tornado-editorial.jpg?update-time=1524751227337" alt="Tornado">
  <p>Every year, there are more than 1,200 tornadoes in the United States.</p>
  <p>This is <strong>4 times</strong> more than in the rest of the world combined. </p>
<hr>
    <!-- Bonus link to last class page -->
    <a href="../../../../1/Activities/04-Stu_MyFirst_HTML/Solved/my-first-bonus.html">My First HTML Bonus</a>

<section>
    <hr>
    <h2>Heading Tags</h2>
    <p>
        <code>&lt;h1&gt; - &lt;h6&gt;</code> tags are for containing larger sizes of heading text for things such as titles or subtitles. Not to be confused with header or head tags.
        <a target="_blank" href="https://www.weather.gov/mkx/taw-tornado_classification_safety">Learn More!</a>
    </p>
</section>

<section>
    <hr>
    <h2>Tornadoes categories</h2>
    <p>
    </p>
    
    <div class="text-center">
    <table border="1">
      <tr>
        <th>Classification</th>
        <th>Category/EF Number</th>
        <th>Wind speed (3 Second Gust - mph)</th>
        
      </tr>
      <tr>
        <td rowspan="2">Weak</td>
        <td>0</td>
        <td>65 to 85</td>
      </tr>
      <tr>  
        <td>1</td>
        <td>86 to 110</td>
      </tr>
      <tr>
        <td rowspan="2">Strong</td>
        <td>2</td>
        <td>111 to 135</td>
      </tr>
      <tr>
        <td>3</td>
        <td>136 to 165</td>
      </tr>
      <tr>
        <td rowspan="2">Violent</td>
        <td>4</td>
        <td>166 to 200</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Over 200</td>
      </tr>
    </div>
    </table>
    
    <p>
      <a target="_blank" href="https://www.weather.gov/mkx/taw-tornado_classification_safety">Learn More!</a>
    </p>
  </section>

<h3>Youtube</h3>

<!-- iframe element -->
<!-- <iframe width="640" height="390" src="https://www.youtube.com/watch?v=lxdFh8nYMgM"></iframe> -->
<iframe width="640" height="390" src="https://www.youtube.com/embed/lxdFh8nYMgM" frameborder="0" allowfullscreen></iframe>



</body>

</html>