<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha 512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />

    <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>
    
    <!-- The div that holds our map -->
    <!-- <div id="map"></div> -->

    
    <!-- selectors -->
    <div class="container">
        <br>
        
        <div class="row ml-2" >
            <div class="col-md-4">
                <!-- year selector -->
                <div class ="row">
                    <div class="col-md-6" style="padding-left: 16px;">
                        <p>Select Year to Change:</p>
                    </div>
                    <div class="col-md-4">
                        <select id="year-selector">
                            <option value="">2021</option>
                        </select>
                    </div>
                </div> 
                    
            </div>
            <!-- chart selector -->
            <div class="col-md-8">
                <!-- <label value="">Select a Chart:</label> -->
                <div class="row justify-content-center" style="padding-bottom: 4px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-5">
                        <input type="button" id="but" value="Select Chart" />
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <input type="radio" name = "radio" id="Tornado"  value="1" checked><strong>  Tornados/yr</strong>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" name = "radio" id="Mag"  value="2" ><strong>  Avg Strength/yr</strong>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" name = "radio" id="Loss"  value="3" ><strong>  Total Property Loss</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>

    
    
    <!-- div for summary table & charts -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">  
                <div id="summary" class="panel" style="background-color:lightgrey;">
                    <div class="panel-heading" style="background-color:black; color: white ;" >
                        <h3 class="panel-title">Tornado Statistics for year 2021</h3>
                    </div>
                    <div id="statistics" class="panel-body" ></div>
                        <p id="total-tornado" style="padding-left: 1.5rem; ">0</p>
                        <p id="total-loss" style="padding-left: 1.5rem;">0</p>
                        <p id="total-injuries" style="padding-left: 1.5rem;">0</p>
                        <p id="total-fatalities" style="padding-left: 1.5rem;">0</p>
                        <p id="total-length" style="padding-left: 1.5rem;">0</p>
                        <p id="max-loss" style="padding-left: 1.5rem;">0</p>
                        <p id="max-injuries" style="padding-left: 1.5rem;">0</p>
                        <p id="max-fatalities" style="padding-left: 1.5rem;">0</p>
                        <p id="max-length" style="padding-left: 1.5rem;">0</p>
                        <p id="max-width" style="padding-left: 1.5rem;">0</p>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <canvas id="stateChart"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <canvas id="timeChart"></canvas>
            </div>
        </div>
    </div>

    


  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/main_libby.js"></script>
  <!-- Chart.JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

</body>

</html>